@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 1rem;
}

.app {
  @apply w-full flex flex-col justify-center items-center;
}
h1{
  @apply font-black text-5xl;
}
button{
  @apply bg-blue-500 p-4 text-white rounded-2xl;
}